:root {
    --klasseBG: rgb(34, 55, 82);
    --klasseFG: rgb(207, 207, 207);
    --headerFG: rgb(53, 131, 255);
    --subHeaderFG: rgb(40, 100, 197);
    --siteBG: #1c1e1f;
    --expandedBG: #404346;
    --motdHeaderFG: rgb(207, 207, 207);
    --motdHeaderBG:rgb(54, 84, 124);
    --motdElemFG: rgb(207, 207, 207);
    --motdElemBG: #393a3d;
}

body {
    color: white;
    background-color: var(--siteBG);
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

button {
    border: 0
}
button:hover{
    background-color: rgb(0, 225, 255);
}
button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: none
}

h1 {
    font-size: 350% + 600%;
    text-align: center;
    color: var(--headerFG)
}

h3 {
    font-size: 250% + 400%;
    text-align: center;
    color: var(--subHeaderFG);
    
}

.bleft,
.bright{
    position: absolute;
    font-size: 200% + 350%;
    padding: 0.5% 2% 0.5% 2% + 0% 1% 0% 1%;
}
.bleft{
    left: 2%;
    --margin: 0 3% 0 3% + 0 1% 0 3%;
}
.bright{
    right: 2%;
    --margin: 0 3% 0 3% + 0 3% 0 0;
}

table {
    margin-left:auto;
    margin-right:auto;
    width:75% + 74%;
}

button.klasse {
    font-size: 200%;
    color: var(--klasseFG);
    background-color: var(--klasseBG);
    margin: 0;
    width: 100%;
    text-align: start;
}

th.klasse {
    font-size: 150% + 190%;
}

td.klasse.expanded {
    font-size:250% + 270%;
    background-color: var(--expandedBG);
}

td{
    text-align: center;
}

table, td, th, ul, li{
    border-collapse: collapse;
    border: 1px solid #000000;
}

pre{
    color: red;
}

.backButton {
    font-size: 200%;
    color: rgb(58, 58, 58);
    position: absolute;
    left: 20px;
    top:  20px;
    text-decoration: none;
    background-color: rgb(228, 228, 228);
    padding: 10px;
    border-radius: 40cm;
    box-shadow: 0px 3px 0 0 rgb(187,187,187);
}

/*<Feedback>*/
.enterFeedback {
    font-size: 300%;
    margin: 3% 0 0 12%;
}

.feedback {
    font-size: 250%;
    resize: none;
}

.feedback.back{
    color: red;
    margin-left:10px;
}

textarea.feedback{
    margin-left: 10%;
    margin-top: 1%;
    width:75%;
    height: 300px;
}

.send.feedback{
    margin-left:10%;
}
/*</Feedback>*/


/*<Vertreter>*/
.vertreter.plain {
    color: #00ff00;
}
.strike {
    color: rgb(255, 0, 0);
    text-decoration-style: solid;
    text-decoration: line-through solid 4px rgb(255, 0, 0);
}
.replace{
    font-weight: normal;
}
.replace.arrow{
    color: #ffbe00;
}
.replace.second{
    color: #00ff00;
}
/*</Vertreter>*/

/*<Fach>*/
.fach.plain{
    color: #00ffe9;
}
/*</Fach>*/

/*<Raum>*/
.raum.plain{
    color: #00ff00;
}
/*</Raum>*/

/*<MOTD>*/
ul.motd {
    margin-bottom:0;
    width:75% + 74%;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 0;
}
button.motd{
    text-align: start;
    width:100%;
    font-size: 300%;
}
.motd.elem {
    font-size: 200%;
    background-color: var(--motdElemBG);
    color: var(--motdElemFG);
}

button.motd.header{
    color: var(--motdHeaderFG);
    background-color: var(--motdHeaderBG);
}
/*</MOTD>*/