:root {
    --label-color: rgb(0, 204, 255);
}

.inputContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    width: min-content;
}

.inputContainer p {
    font-size: 300%;
    margin: 0;
    color: var(--label-color)
}

.inputContainer input {
    font-size: 300% + 150%;
    padding: 6px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;  
}
